.page-header
{
	margin-top: 0;
}

.panel-body
{
	padding-top: 0;
}

.featuredimg
{
	margin-bottom: 15px;
}

body
{
	margin-bottom: 80px;
}
.sbdunk
{
	width: 350px;
	margin-bottom: 15px;
}

.vapormaxp
{
	margin-bottom: 85px;
}